

#first {
    background-color: black;
    color: white;
    max-width: 50vw;
}


#second {
    background-color: red;
    color: white;
    max-width: 50vw;
}

.third {
    color: rgb(255,3,4,5);
    background-color: grey;
    max-width: 50vw;
}